.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.button {
  padding: 12px 24px;
  background-color: #8095f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0b7dda;
}
